<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059141438445-qnn6bo87ce172k40ek6q1se7qnq5ts84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059141438445-qnn6bo87ce172k40ek6q1se7qnq5ts84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059141438445-uvl0a3fd6rni2vr29imk8l30o6m7g1jj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmRW_PzFa7ucgzDs3OeKNvR-8WqwBmUko</string>
	<key>GCM_SENDER_ID</key>
	<string>1059141438445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RiverPrime.RiverTrade</string>
	<key>PROJECT_ID</key>
	<string>river-prime-trade-app</string>
	<key>STORAGE_BUCKET</key>
	<string>river-prime-trade-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059141438445:ios:c4b85af1842a94b39175e4</string>
	<key>DATABASE_URL</key>
	<string>https://river-prime-trade-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>